<launch>

  <arg name="arm" default="arm"/>
  <arg name="model" default="$(find saw_sensable_phantom_models)/urdf/omni.urdf" />

  <node name="sensable_phantom" pkg="sensable_phantom_ros" type="sensable_phantom" />

  <group ns="$(arg arm)">
      <arg name="gui" default="false" />
      <arg name="rate" default="20" />

      <param name="robot_description" command="rosrun xacro xacro $(arg model) prefix:=$(arg arm)_"/>
      <param name="use_gui" value="$(arg gui)"/>
      <param name="rate" value="$(arg rate)"/>

      <rosparam param="source_list" subst_value="True">
          [/$(arg arm)/measured_js]
      </rosparam>

      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

      <node name="rviz" pkg="rviz" type="rviz"
	    args="-d $(find saw_sensable_phantom_models)/rviz_config/$(arg arm).rviz" />

  </group>

</launch>
